<body>

    <form (submit)="onAddPost(postForm)" #postForm="ngForm">

        <input class="test" placeholder="Movie Title" type="text" name="movieTitle" ngModel required #movieTitle="ngModel">
        <br/><br/>
        <input class="test" rows="3" placeholder="Movie Genre" name="movieGenre" ngModel required #movieGenre="ngModel">
        <br/><br/>
        <input class="test" placeholder="Movie Director" name="movieDirector" ngModel required #movieDirector="ngModel">
        <br/><br/>
        <input class="test" placeholder="Movie Producer" name="movieProducer" ngModel required #movieProducer="ngModel">

  <br/><br/><br/><br/>
    <button class="button" type="submit">Save Post</button>
  </form>
</body>