
  <form (submit)="onEditPost(postForm)" #postForm="ngForm">
      <br/><br/>
      <input class ="test" type="text" name="movieTitle" ngModel={{post.movieTitle}} required #movieTitle="ngModel">
      <br/><br/>
      <input class ="test" name="content" ngModel={{post.movieGenre}} required #movieGenre="ngModel">
      <br/><br/>
      <input class ="test" name="movieDirector" ngModel={{post.movieDirector}} required #movieDirector="ngModel">
      <br/><br/>
      <input class ="test" name="movieProducer" ngModel={{post.movieProducer}} required #movieProducer="ngModel">
      <br/><br/>
    <button class="button" type="submit">Update Post</button>
  </form>

